# Ignore JSON files
*.json

# Ignore JSONL files
*.jsonl

# Ignore log files
*.log

# Ignore model files (.bin)
*.bin

*.pyc

./__pycache__/
*.DS_Store
./old_files/
./models/
./vscode/
./adapters/
./logs/